.signIn {
  padding: 0 1rem;
}

.signIn h2 {
  text-align: center;
}

.signIn div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.signIn button {
  border: none;
  font-size: medium;
}

.signIn span {
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  color: black;
  box-shadow: 4 4 2 #0aa;
  border: 1px solid #ccc;
}
