.title {
  padding: 0.6rem;
  opacity: 0.3;
}

.page {
  min-height: 100vh;
  padding-bottom: 40vh;
}

.songDetails {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.songDetails input {
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
}

.songTitle {
  font-size: 1.6rem;
  width: 60vw;
}

.artist {
  width: 60vw;
  font-size: 1.2rem;
  color: #ddd;
  margin-top: 1rem;
}

.addButton {
  height: 3rem;
  border: 1px solid #2f2f2f;
  border-left: 1px solid white;
  background: linear-gradient(to right, #2f2f2f, black);
  padding: 1rem 2rem;
}

.saveButton {
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: transparent;
  color: white;
  position: fixed;
  bottom: 44;
  right: 20;
}
