.title {
  padding: .6rem;
  opacity: .3;
}

.page {
  min-height: 100vh;
  padding-bottom: 40vh;
}

.addButton {
  height: 3rem;
  border: none;
  border-left: 1px solid white;
  background-color: #1a1a1a;
  padding: 1rem 2rem;
}

.songInfo {
  padding: .6rem;
  display: flex;
  flex-direction: column;
}

.songInfo input, .extraInfo input {
  border: none;
  outline: none;
  border-bottom: 2px solid #222;
}

.songTitle {
  font-size: 1.6rem;
  width: 60vw;
}

.extraInfo {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.artist {
  width: 60vw;
  font-size: 1.2rem;
  color: #ddd;
  margin-top: 1rem;
}

.saveButton {
  border: none;
  background-color: #222;
  padding: .5rem 1.5rem;
  position: absolute;
  top: 10;
  right: 20;
  border-radius: 40px;
}