.search {
  height: 3rem;
  margin: 1rem;
  margin-bottom: 3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 1px #ccc;
  background-color: white;
  opacity: .9;
  display: flex;
  align-items: center;
}

.search input {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  font-size: small;
  background-color: transparent;
  outline: none;
  color: black;
}

.button {
  background-color: transparent;
  color: black;
  width: 50px;
  height: 30px;
  margin-right: 4px;
  border: none;
}