.card {
  background-color: rgba(255, 255, 255 .15);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, .2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
  padding: 20px;
  color: #fff;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
}

.card strong {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card span {
  opacity: .5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}