.card {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: 1rem;
  background-color: whitesmoke;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 4 4px 2px #0aa;
  max-width: 160px;
}

.card strong {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card span {
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}